.input_Box {
  width: 50vw;
  height: 50vh;
  border-radius: 0.5rem;
  border: 2px solid rgb(221, 221, 221);
  font-size: large;
  position: absolute;
  top: 50%;
  background-color: rgb(255, 255, 255);
  padding: 1rem 0.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.2rem 0.2rem 0.5rem 0.4rem rgb(169, 169, 169);
}

.modalOuterDiv {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.514);
  transform: translate(-50%, -50%);
}

.input_Box_Container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.input_Box_Top_first {
  display: flex;

  justify-content: space-evenly;
  gap: 2.5rem;
  padding-bottom: 0.3rem;
}

.input_Box_Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.4rem;
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.208);
}
.Item_Doots,
.Item_Curilybrs {
  display: flex;
  align-items: first baseline;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.Item_Doots img,
.Item_Curilybrs img {
  height: 1rem;
  width: 1.2rem;
}
.input_Box_Top_Left_Row_First_item,
.input_Box_Top_Left_Row_Second_item,
.input_Box_Top_Left_Row_Three_item,
.input_Box_Top_Left_Row_Four_item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: flex-start;
}
.Item_Cross {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Item_Cross:hover {
  color: rgb(182, 15, 15);
  border-radius: 2rem;
}
.AllItem:hover {
  color: rgba(0, 0, 0, 0.559);
  border-radius: 2rem;
}
.AllItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .Speed_Dial {
  position: absolute;
  bottom: 0rem;
  right: 0.5rem;
  height: rem;
  display: flex;
*/
.Input_button {
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: -3rem;
  right: 1rem;
}
.Input_Btn1 {
  /* position: absolute;
  bottom: -3rem;
  right: 18rem; */
  border-radius: 0.4rem;
  padding: 0.2rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.615);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 7rem;
}
.Input_Btn1:hover {
  background-color: rgba(217, 217, 217, 0.81);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(203, 203, 203, 0.293);

}
