* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Note {
    display: flex;
    /* gap: 0.5rem; */
}

.Note_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1rem 0.7rem;
}

.Note_left_top_title h1 {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.Note_left_mid_title {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 17rem;
    padding: 0.2rem;
    font-size: 0.2rem;
    width: 2rem;
}

.Note_mid_border {
    border: 1px solid rgb(0, 0, 0);
    height: unset;
}

.Note_Right {
    padding: 1rem;
    width: 85vw;
}

.Note_Right_top_item {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-left: 3.5rem;
}

.Note_Right_top_search_bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid; */
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.2rem whitesmoke;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    width: 13rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Note_Right_top_search_bar_left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.Note_Right_top_search_bar_right {
    border: none;
}

input {
    border: none;
    outline: none;
    padding: 0.3rem 0.4rem;
    font-size: 1rem;
}

.Note_Right_mid_hadding {
    font-size: 4rem;
    font-weight: bold;
}

.Notes_Box {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.box_1 {
    background-color: rgb(251, 125, 0);
    border-radius: 1.5rem;
}

.box_2 {
    background-color: rgba(234, 191, 0, 0.864);
    border-radius: 1.5rem;
}

.box_3 {
    background-color: rgb(251, 125, 0);
    border-radius: 1.5rem;
}

.box_4 {
    background-color: rgb(109, 0, 145);
    border-radius: 1.5rem;
}

.box_5 {
    background-color: rgba(145, 222, 1, 0.827);
    border-radius: 1.5rem;
}

.box_6 {
    background-color: rgb(0, 168, 240);
    border-radius: 1.5rem;
}