@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Notes_main {
  display: flex;
  /* background-color: rgba(245, 222, 179, 0.566); */
}


.Notes_left_side {
  border-right: 1px solid black;
  height: auto;
  padding: 1.5rem;
}

.Notes_Right_side {
  padding: 1.5rem 2.5rem;
  width: 100%;
}

.Notes_Right_top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Notes_Right_Notes_headding {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}